# https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#_ignoring

#visual studio and visual studio code
SERVER/**/bin/
SERVER/**/.vs/
SERVER/**/obj/

SAMPLES_AND_TESTS/**/bin/
SAMPLES_AND_TESTS/**/.vs/
SAMPLES_AND_TESTS/**/obj/
SAMPLES_AND_TESTS/**/packages/

#vivado
**/*.jobs/
**/*.cache/
**/*.runs/
**/*.ip_user_files/
**/*.hw/
**/*.sim/sim_1/
**/bd/ip/
**/bd/ipshared/
**/bd/sim/
**/bd/synth/
**/bd/ui/
